.dbgobject-navigator {
    font-family: "Consolas";
    font-size:8pt;
    white-space: nowrap;
}

.dbgobject-navigator > h3, .dbgobject-navigator > h4 {
    text-align: center;
    margin:0 0 0.5em 0;
}

.dbgobject-navigator div.field {
    display:table-row;
}
.dbgobject-navigator div.field > * {
    display:table-cell;
}

.dbgobject-navigator span.name {
    cursor:pointer;
    color:blue;
}
.dbgobject-navigator span.name:hover {
    text-decoration: underline;
}

.dbgobject-navigator div.field > :first-child {
    text-align:right;
    padding-right:0.5em;
}