Source: jsdbg
Section: devel
Priority: optional
Maintainer: Christian Biesinger <cbiesinger@google.com>
Uploaders: Sanket Joshi <sajos@microsoft.com>
Build-Depends: debhelper (>= 10), dotnet-sdk-8.0, dejagnu, gdb
Standards-Version: 4.1.2
Homepage: https://github.com/MicrosoftEdge/JsDbg
Vcs-Git: https://github.com/MicrosoftEdge/JsDbg
Vcs-Browser: https://github.com/MicrosoftEdge/JsDbg

Package: jsdbg-gdb
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, dotnet-runtime-8.0
Recommends: gdb
Replaces: jsdbg
Breaks: jsdbg
Description: Browser-based debugger extensions
 Extends GDB with a `jsdbg' command that lets you visualize datastructures
 in a browser and can be extended using JavaScript.
