#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

export DOTNET_CLI_TELEMETRY_OPTOUT = 1
export DOTNET_CLI_HOME := $(shell pwd)
export RESTOREFLAGS := -s /usr/share/dotnet/sdk/NuGetFallbackFolder

%:
	dh $@

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr

