body {
    font-family:Segoe UI;
    font-size:10pt;
}

#jsdbg-loading-indicator {
    position:fixed;
    bottom:0;
    right:0;
    text-align: center;
    z-index:200;
    display:none;
}

#jsdbg-loading-indicator > progress {
    color:gray;
}

code {
    font-family:Consolas;
}