.node-container {
    position:relative;
    font-family:Consolas;
    font-size:10pt;
}

.node-container > div {
    transition-property:left, width;
    transition-duration:0.1s;
}

.node-container .node {
    font-size:8pt;
    position:absolute;
    width:75px;
    height:80px;
    word-wrap:break-word;
    box-sizing:border-box;
    border:thin solid black;
    text-align: center;
    background:white;
    z-index:1;
    overflow:hidden;
}

.node-container .node > * {
    margin:0;
}

.node-container .node:hover {
    z-index:2;
    min-height:80px;
    height:auto;
}

.node-container .node.collapsed {
    cursor:pointer;
    border-style:dotted;
}

.node-container .node .children {
    display:none;
    position:absolute;
    bottom:0px;
    right:0px;
}

.node-container .node .children:before {
    content:"(";
}
.node-container .node .children:after {
    content:")";
}

.node-container .node.collapsed .children {
    display:block;
}

.node-container .horizontal {
    position:absolute;
    margin-top:-0.5px;
    border-top:thin solid black;
    height:0px;
}

.node-container .vertical {
    position:absolute;
    margin-left:-0.5px;
    border-left:thin solid black;
    width:0px;
    height:10px;
}