.field-selection {
    overflow-y:scroll !important;
    height:100%;
    box-sizing:border-box;
    padding-right:10px;
    max-width:30vw;
}

.field-selection .instructions {
    width:200px;
    min-width:100%;
    font-size:0.8em;
    margin:4pt;
    margin-bottom:0;
}

.field-selection .more-types {
    margin:4pt;
}

.field-selection .type-container {
    margin-left:5px;
    -webkit-user-select: none;
    user-select: none;
}

.field-selection .type-name::before {
    content:"v";
    font-family:Consolas;
    margin-right:5px;
}

.field-selection .collapsed .type-name::before {
    content:">";
}

.field-selection .type-name {
    cursor:pointer;
}

.field-selection .fields-container {
    font-size:10pt;
    margin-left:1em;
}

.field-selection .fields-container label:hover {
    background:#eee;
}

.field-selection .fields-container label {
    display:flex;
    cursor:default;
}

.field-selection .base-type {
    display:none;
}

.field-selection .show-all-types .base-type {
    display:block;
}

.field-selection .fields-container label input {
    height:12px;
    width:12px;
    margin:0;
    align-self:center;
    flex-shrink: 0;
    box-sizing:border-box;
}

.field-selection .fields-container .field-type:hover {
    text-decoration:underline;
}

.field-selection .fields-container .field-type, .field-selection .fields-container .field-name {
    box-sizing:border-box;
    white-space: nowrap;
    margin:0 3px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.field-selection .fields-container .field-type {
    min-width:0px;
    flex-shrink:100000;
}

.field-selection .fields-container .field-name {
    flex-shrink:0.001;
}

.field-selection .fields-container hr {
    border-width:1px;
    border-color:#ccc;
    border-style:solid none none none;
    margin:5px 0;
}

.field-selection .fields-container .filtered {
    visibility: hidden;
    height:0px;
}

.field-selection .collapsed .field-type {
    display:none;
}

.field-selection .collapsed .field-name {
    padding-right:3px;
}

.field-selection .field-type {
    color:#999;
    font-style:italic;
}

input.small-input {
    font-size:8pt;
    margin-right:0.3em;
}

button.small-button::before {
    content:"[";
}

button.small-button::after {
    content:"]";
}

button.small-button {
    outline:none;
    background:transparent;
    border:none;
    color:gray;
    cursor:pointer;
    font-family: inherit;
    font-size:8pt;
    margin-right:0.3em;
    padding:0;
    text-transform: lowercase;
}

button.small-button:hover {
    color:#03f;
}

button.small-button.light {
    color:#bbb;
}

button.small-button.light:hover {
    color:#9af;
}